@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

* {
  font-family: serif;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* globals.css */
.fade-overlay {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9998;
  transition: opacity 0.5s ease;
}

.fade-overlay.show {
  opacity: 1;
}